<!doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/mystyle.css' %}" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800" rel="stylesheet">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
	{% block page %}{% endblock %}
    {% block sidebar %}{% endblock %}
    </body>
</html>
